 body{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
 }

 h1, h2{
	font-weight: 300;
	text-align: center;
 }

h4{
	font-size: 30px;
 }
 a,a:visited,a:hover,a:active{
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color:#64B5F6;
  }
  a:hover{
    color:#607D8B;
  }
  a.before:before,a.after:after{
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
    position:absolute;
  }
  a.before:before{
    top:-0.25em;
  }
  a.after:after{
    bottom:-0.25em;
  }
  a.before:before,a.after:after{
    height:5px;
    height:0.35rem;
    width:0;
    background:#d73444;
  }
  a.first:after{
    left:0;
  }
  a.before:hover:before,a.after:hover:after{
    width:100%;
  }
  ol {
    counter-reset: list;
    list-style: none;
    padding-left: 15px;
  }
  ol li {
    counter-increment: list;
    margin-bottom: 10px;
  }
  ol li::before {
    content: counter(list);
    background: #64B5F6;
    font-family: Arial, sans-serif;
    color: #fff;
    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    width: 2.2em;
    height: 2.2em;
    line-height: 2.3em;
    display: inline-block;
    margin-right: 1em;
  }
  ul {
    list-style-type: none;
    padding-left: 15px;
  }
  ul li {
    display: block;
    width: 200px;
    border-bottom: 1px solid #64B5F6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px 0px 10px 10px;
  }
